extends ../layouts/layout.pug
block content
  .container
    .row
      .col-lg-3
      .col-lg-6
        a(href='../image/Aurore-Sifflet_developpeuse-full-stack.jpg' target='_blank')
          img#imageCV(src='../image/Aurore-Sifflet_developpeuse-full-stack.jpg' alt='Aurore Sifflet curriculum vitae')
      .col-lg-3
        .row
          h2
            a.textLateral(href='../image/Aurore-Sifflet_developpeuse-full-stack.pdf' download='Aurore-Sifflet_developpeuse-full-stack.pdf') T&eacute;l&eacute;charger le cv
        .row.mt-5
          h2 CONTACT
          p
            a.textLateral(href='mailto: aurore.sifflet@gmail.com') aurore.sifflet@gmail.com
