extends ../layouts/layout.pug
block content
  .container
    .row
      .col-lg-12.col-xl-10
        .row
            p= nickname
        .row
          div#notification
            p#notificationMessage
      .col-lg-12.col-xl-2
        .row